@tailwind base;
@tailwind components;
@tailwind utilities;

.top-header {
  background-color: #F5F8FD;
  height: 53px;
}

.donation-btn:hover {
  background-color: #1C75BC;

}
@media (max-width: 768px)  {
  .donation-btn {
    
    
  }
}